@charset "utf-8";
/* CSS Document */

<style type="text/css"><!--

.special-text{
	 font-weight: 700;
	 font-style: normal;
	 font-size: 2.5em;
	 color: #f05023;
	 text-transform: uppercase;
}

.parking-initiative h3 {
    font-size: 220%;
    color: #DB350F;
    font-weight: 600;
    display: block;
    }

.parking-initiative{
	    background-color: #f9f9f9;
    padding: 1em;
}
@media only screen and (min-width: 760px) {
  .parking-initiative h3 {
    display: inline-block;
    }
}

--></style>